<h3 data-ng-show="model.widget">V{{ model.version }}</h3>
<table class="table" data-ng-show=" model.widget ">
   <thead>
   <tr>
      <th>Integration</th>
      <th></th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td>Technology:</td>
      <td><em>{{ model.widget.integration.technology }}</em></td>
   </tr>
   <tr>
      <td>Type:</td>
      <td><em>{{ model.widget.integration.type }}</em></td>
   </tr>
   </tbody>
</table>

<h3 data-ng-show="model.dependencies">Dependencies</h3>
<table class="table" data-ng-show="model.dependencies">
   <thead>
   <tr>
      <th>Library</th>
      <th>Version</th>
   </tr>
   </thead>
   <tbody data-ng-repeat="dependence in model.dependencies">
   <tr data-ng-class-even="'even'"
       data-ng-class-odd="'odd'">
      <td>{{ dependence.axLibrary }}</td>
      <td><em>{{ dependence.axVersion }}</em></td>
   </tr>
   </tbody>
</table>

<table class="table ax-information-table"
       data-ng-show="model.widget">
   <colgroup>
      <col class="ax-information-table-col-1">
      <col class="ax-information-table-col-2">
      <col class="ax-information-table-col-3">
   </colgroup>
   <thead>
   <tr>
      <th>Feature/Property</th>
      <th>Type/Description</th>
   </tr>
   </thead>
   <tbody data-ng-repeat="(featureName, featureSpec) in model.widget.features.properties">
      <tr class="ax-widget-information-feature"
          data-ng-class-even="'even'"
          data-ng-class-odd="'odd'">
         <td>
            <button type="button"
                    class="btn-link"
                    data-ng-click="display.expanded[ featureName ] = !display.expanded[ featureName ]"
               ><i class="ax-link-icon"
               data-ng-class="(display.expanded[ featureName ] && 'fa fa-caret-down' || !display.expanded[ featureName ] && 'fa fa-caret-right')"></i><strong>{{featureName}}</strong></button>
         </td>
         <td><em>{{featureSpec.type}}</em></td>
      </tr>
      <tr class="ax-information-description"
          data-ng-show="featureSpec.description">
         <td colspan="2">{{featureSpec.description}}</td>
      </tr>
      <tr class="ax-information-properties"
          data-ng-repeat-start="(propertyName, propertySpec) in featureSpec.properties"
          data-ng-show="display.expanded[ featureName ]">
         <td><strong>{{propertyName}}</strong></td>
         <td><em>{{propertySpec.type}}</em></td>
      </tr>
      <tr class="ax-information-description"
          data-ng-repeat-end
          data-ng-show="display.expanded[ featureName ] && propertySpec.description">
         <td colspan="2">{{propertySpec.description}}</td>
      </tr>
      <tr class="ax-information-properties"
          data-ng-repeat-start="(propertyName, propertySpec) in featureSpec.items.properties"
          data-ng-show="display.expanded[ featureName ]">
         <td><strong>{{propertyName}}</strong></td>
         <td><em>{{propertySpec.type}}</em></td>
      </tr>
      <tr class="ax-information-description"
          data-ng-repeat-end
          data-ng-show="display.expanded[ featureName ] && propertySpec.description">
         <td colspan="2">{{propertySpec.description}}</td>
      </tr>
      <tr class="ax-information-properties"
          data-ng-repeat-start="(propertyName, propertySpec) in featureSpec.patternProperties"
          data-ng-show="display.expanded[ featureName ]">
         <td><strong>{{propertyName}}</strong></td>
         <td><em>{{propertySpec.type}}</em></td>
      </tr>
      <tr class="ax-information-description"
          data-ng-repeat-end
          data-ng-show="display.expanded[ featureName ] && propertySpec.description">
         <td colspan="2">{{propertySpec.description}}</td>
      </tr>
   </tbody>
</table>

